mixin nav-a(img, textZH, textEN)
    a(href="#")
        img(src="img/" + img + ".png" alt="連結 縮圖")
        span=textZH
        br
        span=textEN


mixin title(img, textZH, textEN)
    div(class="title")
        img(src="img/" + img + ".png" alt="連結 縮圖")
        span=textZH
        br
        span=textEN

mixin location-box(nameZh, nameEg, img)
    div(class="location-box")
        div(class="location-title")
            div(class="location-text")
                span=nameZh
                br
                span=nameEg
            img(src="img/", alt="據點")
        img(src="img/" + img + ".png ", alt="據點")


<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 獅子堂 | 首頁 | 黑糖專賣
        link(rel="stylesheet", href="style.css")
    body
        header(id="nav")
            div(id="logo") LION SUGAR
                br
                span 獅子堂黑糖專賣
            nav
                +nav-a("home", "關於我們", "ABOUT")
                +nav-a("location", "全球據點", "LOCATIONS")
                +nav-a("hot", "熱門經典", "CLASSICAL")
                +nav-a("contact", "加盟專去", "FRANCHISEE")
        
        section(id="banner")

        section(id="about")
            div(class)="bg bg-about")
            div(class="container")
                +title("home","關於我們","ABOUT")

        section(id="location")
            div(class="bg bg-location")
            div(class="container")
                +title("location","全球據點","LOCATIONS")

                div(id="location-container")
                    +location-box("台灣","Taiwan","location_taipei")
                    +location-box("台灣","Taiwan","location_taipei")
                    +location-box("台灣","Taiwan","location_taipei")

        div(class="container")
            +title("hot","熱門經典","CLASSICAL")

        div(class="container")    
            +title("contact","加盟專區","FRANCHISEE")